body {
	background-color: white;
}

div#board {
	
}

.table{
	display: table;

	width: 50%;
	height: 50px;
	
}


.erow{
	 display: table-row;
	
}

.ecell {
	 display: table-cell;
	 border: 2px solid #000000;
		
}

.container{
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 50px;
}
.input{
	

width: 95%;
background-color: transparent;
border: 0px solid;
font-size:35px;
text-align: center;



}

.row{
	 display: table-row;
	
}
.cell {
	 display: table-cell;
	 border: 1px solid #999999;
	 height: 50px;	
	 width: 50%;

	 
}
